h1{
color: red;
font-family: cursive;
font-style: italic;
font-size: 65px;
text-align: center;
background-image: url("/home/victor/Desktop/scar/Pig_Dice_1024x1024.JPG");
height: 350px;
}
.well{
background-image: url("/home/victor/Desktop/pig-dice/images/3D-Cool-Image.jpg");
}
li{
  font-size: 50px;
  color: yellow;
  font-family: cursive;
  font-style: italic;
  font-stretch: semi-expanded;
}
h2{
  font-size: 40px;
  color: orange;
  font-family: cursive;
  font-style: italic;
  font-stretch: semi-expanded;
}
.scar{
  background-image: url("/home/victor/Desktop/pig-dice/images/images.jpeg");
}
p{
  font-size: 42px;
  color: red;
  font-family: cursive;
  font-style: italic;
}
h3{
  font-size: 40px;
  color: orange;
  font-family: cursive;
  font-style: italic;
}
